model_config_list {
 config {
    name: 'model_animals'
    base_path: '/models/model_animals/'
    model_platform: 'tensorflow'
    model_version_policy: {all: {}}
        },
 config {
    name: 'model_arts & sciences'
    base_path: '/models/model_arts & sciences/'
    model_platform: 'tensorflow'
    model_version_policy: {all: {}}
        },      
 config {
    name: 'model_body'
    base_path: '/models/model_body/'
    model_platform: 'tensorflow'
    model_version_policy: {all: {}}
        },
 config {
    name: 'model_death'
    base_path: '/models/model_death/'
    model_platform: 'tensorflow'
    model_version_policy: {all: {}}
        },
 config {
    name: 'model_family'
    base_path: '/models/model_family/'
    model_platform: 'tensorflow'
    model_version_policy: {all: {}}
        },
 config {
    name: 'model_heartache'
    base_path: '/models/model_heartache/'
    model_platform: 'tensorflow'
    model_version_policy: {all: {}}
        },      
 config {
    name: 'model_war'
    base_path: '/models/model_war/'
    model_platform: 'tensorflow'
    model_version_policy: {all: {}}
        },
 config {
    name: 'model_love'
    base_path: '/models/model_love/'
    model_platform: 'tensorflow'
    model_version_policy: {all: {}}
        },
 config {
    name: 'model_nature'
    base_path: '/models/model_nature/'
    model_platform: 'tensorflow'
    model_version_policy: {all: {}}
        },
 config {
    name: 'model_religion'
    base_path: '/models/model_religion/'
    model_platform: 'tensorflow'
    model_version_policy: {all: {}}
        },
 config {
    name: 'year_model'
    base_path: '/models/year_model/'
    model_platform: 'tensorflow'
    model_version_policy: {all: {}}
        },
}